
<div class="side_top">
  <div class="side_title">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side_link">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side_center">
  <% current_user.rooms.each do |room| %>
    <div class="side_center_title">
      <div class="side_center_name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>
